#activity-select {
    position: sticky;
    top: 20px;
    padding: 5px;
    /*padding-left: 30px;*/
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    background: #fff;
}

.activity-select__checkboxes {
    max-height: 300px;
    overflow-y: scroll;
}

.check-row {
    display: flex;
    align-items: center;
}