@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";

rect.bar {
    fill: var(--shared-blue);
    stroke: black;
    stroke-width: 1px;
}

#bar .count {
    font-size: 10px;
}

#bar .axis-title {
    font-weight: bold;
    font-size: 10px;
    text-anchor: middle;
}
