rect.bar {
    fill: lightskyblue;
    stroke: black;
    stroke-width: 1px;
}

#bar .count {
    font-size: 10px;
}

#bar .axis-title {
    font-weight: bold;
    font-size: 10px;
    text-anchor: middle;
}
