.region-filter {
    top: 10%;
}

.activity-filter {
    top: calc(10% + 200px);
}

.season-filter {
    top: calc(10% + 650px);
    height: 300px;
}

.activity-select__checkboxes {
    max-height: 300px;
    overflow-y: scroll;
}

.check-row {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.check-row label {
    margin-bottom: 0;
    margin-left: 10px;
}

.slide-top-list-enter-active, .slide-top-list-leave-active, .slide-top-list-move {
    transition: all 0.3s;
}
.slide-top-list-enter, .slide-top-list-leave-to {
    opacity: 0;
}
.slide-top-list-enter {
    transform: translateY(100%);
}
.slide-top-list-leave-to {
    transform: translateY(-100%);
}
 