.activity-select__checkboxes {
    max-height: 300px;
    overflow-y: scroll;
}

.check-row {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.check-row label {
    margin-bottom: 0;
    margin-left: 10px;
}