@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";

body {
    margin: 20px;
}

#map {
    width: 100%;
}

.location {
    stroke: black;
    stroke-width: 2px;
}

.state {
    fill: var(--shared-green);
    stroke: black;
}

/*#q1 h3 {*/
/*    margin: 10px;*/
/*    border: thin solid grey;*/
/*    padding-top: 5px;*/
/*    padding-bottom: 5px;*/
/*    padding-right: 10px;*/
/*    padding-left: 10px;*/
/*    border-radius: 5px;*/
/*    background: rgba(64,64,64,0.4);*/
/*}*/

#q1 .map-row > * {
    border: thin solid grey;
    margin: 5px;
    border-radius: 5px;
    background: var(--shared-grey);
}

#q1 img {
    width: 300px;
    max-width: 100%;
    height: 185px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: thin solid black;
    border-radius: 5px;
}

.stateName {
    font-size: 12px;
    fill: var(--shared-yellow);
    text-shadow: #000 0px 0px 1px;
    text-anchor: middle;
    font-weight: bold;
}


#q1 #activitySelect {
    width: fit-content;
}

/* Prevent checked item from staying highlighted while preserving stripes */
#q1 div.checklist li.even { background-color: #FFFFFF; color: initial}
#q1 div.checklist li.odd { background-color: #F7F7F7; color: initial}

#q1 #parkSelect {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border: thin solid black;
    border-radius: 5px;
}

#q1 h6 {
    margin-top: 5px;
}

/*#q1 h6 {*/
/*    background: azure;*/
/*    border: thin solid black;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*}*/
