@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";

#q5 .axis {
    font-weight: bold;
    font-size: 14px;
}

#q5 .point {
    r: 8px;
    stroke: black;
    stroke-width: 2px;
}

#q5 #legend circle {
    r: 8px;
    cy: 8px;
    cx: 8px;
}

#q5 .y-title {
    fill: black;
    text-anchor: middle;
    font-size: 16px;
    font-weight: bold;
}

#q5 .vis__legend {
    height: 50px;
}

/*#q5 select {*/
/*    padding: 5px;*/
/*    border: thin solid black;*/
/*    border-radius: 5px;*/
/*}*/

.tooltip {
    text-transform: capitalize
}

#q5 #legend svg {
    width: 100px;
    height: 50px;
}

#y2019 {
    fill: var(--shared-blue);
}

#y2020 {
    fill: var(--shared-red);
}