.results {
    max-height: 80vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 20px;
}

.results__response {
    padding: 10px;
}

.results__images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.results a {
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

pre {
    background: #dbdbdb;
    padding: 5px;
}

.data-select {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.data-select li {
    list-style: none;
}

.data-select a {
    padding: 5px;
    border: 1px solid black;
}

.results__list li {
    border: solid thin lightskyblue;
    border-width: 3px;
    border-radius: 5px;
    background: lightgray;
    margin-bottom: 5px;
}

.results__list li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.results__list li:hover {
    background: lightskyblue;
}

.results button {
    margin-right: 10px;
    border-radius: 5px;
}

.results button:hover {
    background: lightskyblue;
}