@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";
@value --shared-light-blue from "./shared.css";

.results__response {
    padding: 10px;
    min-height: 500px;
}

.results__images {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.selected .btn {
    font-weight: bold !important;
    border: 3px var(--shared-yellow) solid !important;
}

.results__list {
    position: sticky;
    top: 100px;
}

.results__list li {
    margin-top: 10px;
}

.results__list * {
    outline: none !important;
}

.results__list button {
    width: 100%;
    display: block;
    white-space: unset;
}

.results__tabs > * {
    margin-right: 20px;
}