:root {
    --shared-green: #28794c;
    --shared-blue: #2c2d67;
    --shared-yellow: #ffc900;
    --shared-red: #ae0000;
    --shared-grey: #d3d3d3;
    --shared-light-blue: #6150d8;
    --shared-blue-hover: #161635;
    --shared-yellow-hover: #ddaf01;
}

body .btn.btn-primary {
    background: var(--shared-blue);
    border-color: #2c2d67;
}

body .btn.btn-primary:hover {
    background: var(--shared-blue-hover);
}
