@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";

#timeline {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

.timeline-item {
    cursor: pointer;
    z-index: 9;
    transition: all 0.3s;
}

.timeline-item--park {
    fill: var(--shared-blue);
}

.timeline-item--park:hover {
    fill: var(--shared-blue-hover);
}

.timeline-item--law {
    fill: var(--shared-yellow);
}

.timeline-item--law:hover {
    fill: var(--shared-yellow-hover);
}

.timeline-item.active {
    fill: var(--shared-red);
    z-index: 10;
}

#carousel {
    width: 100%;
    margin: 50px auto 5px;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    padding: 30px;
    height: 700px;
    max-height: 70vh;
}

.carousel-item__year {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 2px solid currentColor;
}

.carousel-item__title {
}

.carousel-item__content {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(250, 250, 250, 0.8);
    position: relative;
    max-height: 300px;
    overflow-y: auto;
}

@media only screen and (min-width: 800px) {
    .carousel-item__content {
        max-height: 550px;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-item__content {
        right: 200px;
    }

    #carousel {
        max-width: 80vw;
    }
}

.timeline-key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 800px;
}

.timeline-key dd {
    margin: 0;
}

.timeline-key dt {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 100%;
}

dt.current {
    background: var(--shared-red);
}

dt.park {
    background: var(--shared-blue);
}

dt.law {
    background: var(--shared-yellow);
}

.timeline-key dd:not(:last-child) {
    margin-right: 50px;
}

#radarDiv {
    max-width: 800px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    z-index: 3;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    background-color: black;
    background-image: unset !important;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.vis__wrapper--carousel {
    padding: 10px;
    background: #efefef;
}

/*#radarDiv, #q1, #activity-select {*/
/*    display: none;*/
/*}*/
/*body {*/
/*    margin: 0 !important;*/
/*}*/
