@value --shared-green from "./shared.css";
@value --shared-blue from "./shared.css";
@value --shared-yellow from "./shared.css";
@value --shared-red from "./shared.css";
@value --shared-grey from "./shared.css";

#timeline {
    border-top: 1px solid grey;
    width: 100%;
    height: 130px;
}

.timeline-item {
    cursor: pointer;
    z-index: 9;
}

.timeline-item--park {
    fill: var(--shared-blue);
}

.timeline-item--law {
    fill: var(--shared-yellow);
}

.timeline-item:hover, .timeline-item.active {
    fill: var(--shared-red);
    z-index: 10;
}

#carousel {
    margin-top: 50px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background: rgba(128, 128, 128, 0.5);
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    padding: 30px;
    height: 700px;
}

.carousel-item__year {
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 2px solid currentColor;
}

.carousel-item__title {

}

.carousel-item__content {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    position: relative;
    max-height: 550px;
    overflow-y: scroll;
}

@media only screen and (min-width: 800px) {
    .carousel-item__content {
        right: 200px;
    }
}

.timeline-key {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 800px;
}

.timeline-key dd {
    margin: 0;
}

.timeline-key dt {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 100%;
}

dt.current {
    background: var(--shared-red);
}

dt.park {
    background: var(--shared-blue);
}

dt.law {
    background: var(--shared-yellow);
}

.timeline-key dd:not(:last-child) {
    margin-right: 50px;
}

/*#radarDiv, #q1, #activity-select {*/
/*    display: none;*/
/*}*/
/*body {*/
/*    margin: 0 !important;*/
/*}*/