body {
    margin: 20px;
}

.location {
    r: 10px;
    stroke: black;
    stroke-width: 2px;
}

.state {
    fill: mediumseagreen;
    stroke: black;
}

h3 {
    margin: 10px;
    border: thin solid grey;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background: rgba(64,64,64,0.4);
}

.col {
    border: thin solid grey;
    margin: 5px;
    border-radius: 5px;
    background: rgba(64,64,64,0.4);
}

img {
    width: 300px;
    height: 185px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: thin solid black;
    border-radius: 5px;
}

.stateName {
    font-size: 12px;
    fill: white;
    text-anchor: middle;
    font-weight: bold;
}


#activitySelect {
    width: fit-content;
}